*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, sans-serif;
}

.container{
    width: 90%;
    margin: auto;
}

header{
    padding: 20px 0;
    background-color: white;
}

header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    width: 150px;
}

nav ul{
    list-style: none;
    display: flex;
}

nav ul li{
    margin: 0 15px;
}

nav ul li a{
    text-decoration: none;
    color: black;
    font-size: 16px;
}

.btn{
    text-decoration: none;
    background-color: rgb(0, 85, 255);
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
}
.hero{
    background-image:url("./assets/banner.jpg");
    background-size:cover;
    background-position:center;
    height:600px;
    text-align:center;
    padding-top:150px;
}


.hero-content{
    background-color:rgba(11, 1, 1, 0.67);
    color:white;
    width:700px;
    margin:auto;
    margin-bottom: 50px;
    padding:50px;
}


.hero h1{
    text-align: center;
    font-size: 55px;
    margin-bottom: 10px;
}

.hero p{
    font-size:18px;
    line-height:28px;
    margin-bottom:30px;
}

.hero-btn{
    text-decoration:none;
    background:#2563eb;
    color:white;
    padding:12px 25px;
    border-radius:5px;
}
.speakers{
    text-align:center;
    padding:50px 0;
}

.speakers h2{
    font-size:32px;
    margin-bottom:30px;
}

.speaker-box{
    width:90%;
    margin:auto;
}

.speaker-card{
    width:45%;
    display:inline-block;
    margin:10px;
    padding:20px;
    border:1px solid rgba(248, 241, 241, 0.927);
    border-radius:20px;
    text-align:left;
}

.speaker-card img{
    width:100%;
    height:250px;
    border-radius:10px;
}

.tag{
    color:blue;
    margin-top:10px;
}

.speaker-card h3{
    margin:10px 0;
}

.pricing{
    text-align:center;
    padding:60px 0;
}

.pricing h2{
    font-size:45px;
    margin-bottom:10px;
}

.pricing p{
    color:gray;
    margin-bottom:40px;
}

.pricing-box{
    width:90%;
    margin:auto;
}

.price-card{
    width:30%;
    display:inline-block;
    border:1px solid lightgray;
    border-radius:8px;
    padding:20px;
    margin:10px;
    text-align:left;
    vertical-align:top;
}

.price-card h5{
    color:gray;
    margin-bottom:10px;
}

.price-card h2{
    font-size:40px;
    margin-bottom:5px;
}

.price-card span{
    color:gray;
    font-size:14px;
}

.price-card hr{
    margin:20px 0;
}

.price-card ul{
    margin-left:20px;
    margin-bottom:20px;
}

.price-card li{
    margin-bottom:10px;
}

.price-card a{
    display:block;
    text-align:center;
    text-decoration:none;
    border:1px solid rgb(10, 10, 20);
    color:blue;
    padding:10px;
    border-radius:5px;
}

.pro{
    background-color:rgb(1, 1, 42);
    color:white;
}

.pro h5,
.pro span{
    color:rgb(116, 148, 244);
}

.pro a{
    background-color:rgb(84, 133, 240);
    color:white;
    border:none;
}
.faq{
    text-align:center;
    padding:60px 0;
}


.faq h2{
    font-size:35px;
    margin-bottom:10px;
}


.faq p{
    color:gray;
    margin-bottom:30px;
}


.faq-box{
    width:90%;
    margin:auto;
}


.faq-card{
    width:45%;
    display:inline-block;
    padding:25px;
    margin:10px;
    border:1px solid lightgray;
    border-radius:10px;
    text-align:left;
}


.faq-card h3{
    margin-bottom:15px;
}


.faq-card p{
    line-height:22px;
}
footer{
    background-color:black;
    color:white;
    padding:40px 80px 20px;
}


.footer-top{
    display:flex;
    justify-content:space-between;
    align-items:center;
}


.footer-top h2{
    font-size:25px;
}


.social a{
    color:white;
    text-decoration:none;
    margin-left:20px;
}


footer hr{
    margin:30px 0;
}


.copyright{
    text-align:center;
    color:gray;
}
